table, tr, td {
  border: 1px solid;
  border-collapse: collapse;
  width: 100%;
  table-layout: fixed;
  height: 1em;
}

tr:nth-child(even) {
  background: silver;
}

table td, tr:first-child {
  text-align: center;
} 

.cursor {
  cursor: pointer;
}